.replay_area {
	margin-top: 5px;
	display: none;
}

.replay_area_d0 {
	border-bottom: 1px dashed #e1e8ed;
	padding: 2px 0;
}

.replay_area_d1 {
	float: left;
}

.replay_area_d2 {
	padding: 0 30px;
	font-size: 12px;
}

.replay_span {
	float: right;
}

.forward_area {
	margin-top: 5px;
	display: none;
}

.forward_area_d0 {
	border-bottom: 1px dashed #e1e8ed;
	padding: 2px 0;
}

.forward_area_d1 {
	float: left;
}

.forward_area_d2 {
	padding: 0 30px;
	font-size: 12px;
}

.forward_span {
	float: right;
}

.my_dm_count {
	position: absolute;
	left: 40px;
	background: #0084B4;
	color: white;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	border: 2px solid #fff;
	border-radius: 7px;
	z-index: 10;
	display: none;
}

.my_lrr {
	text-align: center;
	color: red;
}