.replay_area {
	margin-top: 5px;
	display: none;
}

.replay_area_d0 {
	border-bottom: 1px dashed #e1e8ed;
	padding: 2px 0;
}

.replay_area_d1 {
	float: left;
}

.replay_area_d2 {
	padding: 0 30px;
	font-size: 12px;
}

.replay_span {
	float: right;
}

#dm_dialog-dialog{
	
}