<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx">

	<!-- datasource and seesion -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url" value="jdbc:mysql://localhost:3306/twcn"></property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="username" value="root"></property>
		<property name="password" value="rain@sql"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- auto generated DAO -->
	<bean id="T2pDAO" class="com.rainsho.dao.T2pDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="MentionsDAO" class="com.rainsho.dao.MentionsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RelationshipsDAO" class="com.rainsho.dao.RelationshipsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="T2tDAO" class="com.rainsho.dao.T2tDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TweetsDAO" class="com.rainsho.dao.TweetsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="DirectmsgsDAO" class="com.rainsho.dao.DirectmsgsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LikesDAO" class="com.rainsho.dao.LikesDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ReplaysDAO" class="com.rainsho.dao.ReplaysDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="ForwardsDAO" class="com.rainsho.dao.ForwardsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PicsDAO" class="com.rainsho.dao.PicsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UsersDAO" class="com.rainsho.dao.UsersDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TopicsDAO" class="com.rainsho.dao.TopicsDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="VideosDAO" class="com.rainsho.dao.VideosDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- test bean -->
	<bean id="test" class="com.rainsho.test.Test">
		<property name="dao" ref="UsersDAO"></property>
	</bean>

	<!-- function -->
	<bean id="LoginService" class="com.rainsho.service.LoginService">
		<property name="dao" ref="UsersDAO"></property>
		<property name="rdao" ref="RelationshipsDAO"></property>
	</bean>
	<bean id="LoginAction" class="com.rainsho.action.LoginAction">
		<property name="service" ref="LoginService"></property>
	</bean>

	<bean id="UserService" class="com.rainsho.service.UserService">
		<property name="dao" ref="UsersDAO"></property>
		<property name="tdao" ref="TweetsDAO"></property>
		<property name="rdao" ref="RelationshipsDAO"></property>
	</bean>
	<bean id="UserAction" class="com.rainsho.action.UserAction">
		<property name="service" ref="UserService"></property>
	</bean>

	<bean id="MediaService" class="com.rainsho.service.MediaService">
		<property name="pdao" ref="PicsDAO"></property>
		<property name="vdao" ref="VideosDAO"></property>
		<property name="tdao" ref="TweetsDAO"></property>
		<property name="tpdao" ref="T2pDAO"></property>
	</bean>
	<bean id="TweetAction" class="com.rainsho.action.TweetAction">
		<property name="mService" ref="MediaService"></property>
	</bean>

	<bean id="InfoUpdateAction" class="com.rainsho.action.InfoUpdateAction">
		<property name="uService" ref="UserService"></property>
	</bean>

	<bean id="RelationshipService" class="com.rainsho.service.RelationshipService">
		<property name="dao" ref="RelationshipsDAO"></property>
		<property name="udao" ref="UsersDAO"></property>
	</bean>
	<bean id="RelationshipAction" class="com.rainsho.action.RelationshipAction">
		<property name="service" ref="RelationshipService"></property>
	</bean>

	<bean id="TweetMoreService" class="com.rainsho.service.TweetMoreService">
		<property name="tdao" ref="TweetsDAO"></property>
		<property name="ldao" ref="LikesDAO"></property>
		<property name="rdao" ref="ReplaysDAO"></property>
		<property name="udao" ref="UsersDAO"></property>
	</bean>
	<bean id="TweetMoreAction" class="com.rainsho.action.TweetMoreAction">
		<property name="service" ref="TweetMoreService"></property>
	</bean>

	<bean id="DirectmsgService" class="com.rainsho.service.DirectmsgService">
		<property name="dao" ref="DirectmsgsDAO"></property>
		<property name="udao" ref="UsersDAO"></property>
	</bean>
	<bean id="DirectmsgAction" class="com.rainsho.action.DirectmsgAction">
		<property name="service" ref="DirectmsgService"></property>
	</bean>

</beans>